.main-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-body {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 83vh;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.125);
  margin: 10px;
  position: relative;
}

.img-profile {
  width: 50%;
  height: 83vh;
  border-radius: 50px 0 0 50px;
  position: relative;
}
.footer-profile {
  margin-bottom: 2%;
  margin-right: 2%;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
}

.footer-profile button {
  margin-right: 10px; 
}


.profile-ll {
  font-size: 16px;
  color: #717171;
}
.profile1 {
  font-size: 24px;
  color: #000;
}
.profile-detail {
  position: absolute;
  top: 10%;
  left: 70%;
  transform: translateX(-50%); 
}
.input-edit {
  width: 500px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  margin-bottom: 10px;
}
