#Themepage {
  background-color: #c9d6ff;
  background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.containers-from {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 550px;
}

.containers-from p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.containers-from span {
  font-size: 12px;
}

.containers-from a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.containers-from button {
  background-color: #ff6922;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin: 2px 0 0 0;
  cursor: pointer;
}

.containers-from button.hidden-from {
  background-color: transparent;
  border-color: #fff;
}

.containers-from form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.containers-from input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.form-container-from {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-from {
  left: 0;
  width: 50%;
  z-index: 2;
}

.containers-from.active-from .sign-in-from {
  transform: translateX(100%);
}

.sign-up-from {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.containers-from.active-from .sign-up-from {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {
  0%, 49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%, 100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons-from {
  margin: 20px 0;
}

.social-icons-from a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container-from {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.containers-from.active-from .toggle-container-from {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}

.toggle-from {
  background-color: #ff6922;
  height: 100%;
  background: linear-gradient(to right, #ff6922, #f1966b);
  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.containers-from.active-from .toggle-from {
  transform: translateX(50%);
}

.toggle-panel-from {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left-from {
  transform: translateX(-200%);
}

.containers-from.active-from .toggle-left-from {
  transform: translateX(0);
}

.toggle-right-from {
  right: 0;
  transform: translateX(0);
}

.containers-from.active-from .toggle-right-from {
  transform: translateX(200%);
}
