/* service.css */

.container-blog {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .sections-container {
    display: flex;
    justify-content: space-between;
  }
  
  .section1,
  .section2,
  .section3 {
    width: 30%;
  }
  
  .security-head {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .security-text {
    font-size: 16px;
    font-weight: bold;
  }
  
  .custom-checkbox {
    margin-right: 8px;
  }
  
  .total-price {
    font-size: 18px;
    font-weight: bold;
  }
  
  .sections-main {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  
  .left-align {
    text-align: left;
  }
  
  /* Add more styling as needed */
  